@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');


/*///////////
///DEFAULT///
///////////*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/*///////////
///GENERAL///
///////////*/

html, body {
  margin: 0;
  background-color: var(--blue);
}

.App {
  width: 100vw;
  margin: 0;
}

a {
  text-decoration: none;
  margin: 0;
}

h1, h3 {
  margin: 0;
  text-align: center;
}

:root {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.25rem;
  letter-spacing: .05rem;

  /* COLOR PALETTE */
  --darkgray: #C4C4C4;
  --lightgray: #E5E5E5;
  --blue: #7CF4E6;
  --lightgreen: #35E37B;

  /* HOBBIES */
  --parkour: url('images/hobbies/parkour.svg');
  --languages: url('images/hobbies/languages.svg');
  --travel: url('images/hobbies/travel.svg');
  --violin: url('images/hobbies/violin.svg');

  /* PUBLIC PROFILES */
  --github: url('images/socials/GitHub.svg');
  --freecodecamp: url('images/socials/freeCodeCamp.svg');

  /* PUBLICATIONS */
  --setstate: url('images/sideprojects/setStateArticle.JPG');

  /* SIDE PROJECTS */
  --medicareandmore: url('images/sideprojects/medicareMore.JPG');
  --rubycalculator: url('images/sideprojects/rubyCalculator.jpeg');

  /* SOCIAL MEDIA */
  --linkedin: url('images/socials/LinkedIn.svg');
  --twitter: url('images/socials/Twitter.svg');
}

/*///////////////////
///LANDING PAGE//////
///////////////////*/

.Landing {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(var(--blue), var(--lightgray));
  color: black;
  margin: 0;
}

.landingText {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
}

/*//////////////////////
///PAGES - HIGH LEVEL///
//////////////////////*/

.About, .Projects, .Contact, .Blog {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--blue);
  margin: 0;
  width: 100%;
  min-width: 500px;
}

/*/////////
//NAVBAR///
/////////*/

.Navbar {
  width: 100%;
  height: 5rem;
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
}

.Navbar a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #E5E5E5;
  font-weight: bold;
}

/*//////////////////////
//////// HEADER ////////
//////////////////////*/
.header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 1em 0;
  background-image: linear-gradient(var(--blue), var(--lightgray));
}

.header > * {
  padding: .5em 0;
}

.header-bio-pic {
  display: inline-block;
  width: 30vw;
  height: 30vw;
  border-radius: 30vw;
  object-fit: cover;
  object-position: center;
  padding: 3em;
}


/*---------------------------------------

      ////////////////////////////////
      //////////// ABOUT /////////////
      ////////////////////////////////

---------------------------------------*/


/*///////////////
////// BIO //////
///////////////*/

.bio {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 20%;
  margin: 0;
  background-color: var(--blue);
  color: var(--lightgray);
}

.bio-pic {
  display: block;
  width: 30vw;
  height: 30vw;
  border-radius: 30vw;
  margin: 2em 0;
  object-fit: cover;
  min-height: 200px;
  min-width: 200px;
  max-height: 400px;
  max-width: 400px;
}

.bio-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--darkgray);
  color: black;
  border-radius: 16px;
  width: 50%;
  padding: 2em;
  margin: 2em 0;
  line-height: 140%;
  min-width: 300px;
  max-width: 600px;
}

.bio-description > h1 {
  text-align: left;
}

/*//////////////
/////HOBBIES////
//////////////*/

.hobbies {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  background-color: var(--darkgray);
  height: 25vw;
  min-height: 100px;
}

.hobby-pic {
  display: block;
  width: 15vw;
  height: 15vw;
  border-radius: 15vw;
  margin: 1em 0;
  background-repeat: round;
  background-color: var(--blue);
  min-width: 75px;
  min-height: 75px;
}

.hobby-pic:hover, .hobby-pic:focus {
  transform: scale(1.1);
  cursor: pointer;
}

.hobby-text {
  display: flex;
  margin: 1em 0;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 50%;
}

#parkour {
  background-image: var(--parkour);
}

#languages {
  background-image: var(--languages);
}

#travel {
  background-image: var(--travel);
}

#violin {
  background-image: var(--violin);
}

@media (min-width: 800px) {
  .hobby-text {
    font-size: 80%;
  }
}


/*////////////////
/////EDUCATION////
////////////////*/


.education {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--blue);
}

.education-title {
    width: 100%;
    padding: 2em 0;
    color: white;
    background-color: black;
}

.education-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  min-width: 400px;
  min-height: 200px;
  border-radius: 16px;
  background-color: var(--darkgray);
  padding: 0 1em;
  margin: 2em 0;
  font-weight: bold;
}

.education-degree {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1em;
}

.education-degree > p {
  margin: 0;
}

/*//////////////////////////
//////CERTIFICATES NAV//////
//////////////////////////*/

.certificates-title {
  padding: 2em 0;
  color: white;
  background-color: black;
}

.certificatesNav {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  width: 100%;
  height: 5rem;
  min-height: 50px;
  background-color: var(--darkgray);
}

.btn-cert {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--darkgray);
  font-weight: bold;
  text-decoration: underline;
  width: 33.33%;
  margin: 0;
}

.btn-cert:hover, .btn-cert:focus {
  background-color: var(--lightgray);
  cursor: pointer;
}

/*////////////////////////////
//////// CERTIFICATES ////////
////////////////////////////*/

.certificates-container {
  margin: 0;
  width: 100%;
}

.certificates {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  max-height: 1000px;
}

.imageWindow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
  background-color: var(--blue);
  margin: 0;
}

.portfolioImage {
  display: block;
  width: 90%;
  height: auto;
  margin: 0;
  padding: 1em;
}

.portfolioImage:hover, .portfolioImage:focus {
  transform: scale(1.05);
  cursor: pointer;
}

.descriptionWindow {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  background-color: var(--lightgray);
  margin: 0;
  max-height: 500px;
}

.descriptionWindow > h2 {
  text-align: center;
  width: 80%;
}

.descriptionBody {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 80%;
  max-height: 50%;
  margin-bottom: 1em;
  overflow-y: scroll;
  background-color: var(--darkgray);
  padding: 1em;
}

@media (min-width: 800px) {

  .certificates {
    flex-direction: row;
    max-height: 500px;
  }

  .imageWindow {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .portfolioImage {
    max-width: 90%;
  }

  .descriptionBody {
    max-height: 70%;
  }

}

/*---------------------------------------

      ///////////////////////////////
      ////////// PROJECTS ///////////
      ///////////////////////////////

---------------------------------------*/


/*//////////////////////////////////
////////// PUBLIC PROFILES //////////
//////////////////////////////////*/


.publicProfiles {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 25vw;
  min-height: 100px;
  background-color: var(--darkgray);
}

.profileLink {
  display: block;
  width: 15vw;
  height: 15vw;
  border-radius: 15vw;
  margin: 1em 0;
  background-repeat: round;
  background-color: white;
  min-width: 75px;
  min-height: 75px;
}

.profileLink:hover, .profileLink:focus {
  transform: scale(1.1);
  cursor: pointer;
}

#github {
  background-image: var(--github);
}

#freecodecamp {
  background-image: var(--freecodecamp);
}

.profileLinkDiv {
  display: none;
}

/*//////////////////////////////////
/////////// PUBLICATIONS ///////////
//////////////////////////////////*/

.publications {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--blue);
  margin: 2em 0;
}

.publications-title {
  margin: 1em 0;
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  min-width: 15rem;
  height: 15rem;
  padding: 0 1em;
  margin: 2em 0;
  color: white;
  font-weight: bold;
  text-align: center;
}

.article:hover, .article:focus {
  cursor: pointer;
  transform: scale(1.01);
}

#setstate {
  background-image: var(--setstate), linear-gradient(-45deg, black, white);
  background-color: var(--blue);
  background-blend-mode: multiply;
  background-repeat: round;
}

/*///////////////////////////////////
//////FREECODECAMP PROJECTS NAV//////
///////////////////////////////////*/

.fccProjects-title {
  padding: 2em 0;
  color: white;
  background-color: black;
}

.fccProjectsNav {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  width: 100%;
  height: 5rem;
  min-height: 50px;
  background-color: var(--darkgray);
}

.btn-proj {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--darkgray);
  font-weight: bold;
  text-decoration: underline;
  width: 33%;
  margin: 0;
  text-align: center;
}

.btn-proj:hover, .btn-proj:focus {
  background-color: var(--lightgray);
  cursor: pointer;
}

/*///////////////////////////////////////////
/////////// FREECODECAMP PROJECTS ///////////
///////////////////////////////////////////*/

.fccProjects-container {
  margin: 0;
  width: 100%;
}

.fccProjects {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  max-height: 1000px;
}

.projectImage {
  min-width: 15em;
  height: 10em;
  object-fit: cover;
  object-position: center;
  margin: 0;
  padding: 1em;
}

.projectImage:hover, .projectImage:focus {
  transform: scale(1.1);
}

.projDescriptionBody {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 80%;
  max-height: 50%;
  margin-bottom: 1em;
  background-color: var(--darkgray);
  padding: 1em;
}

.btn-viewProj {
  width: 50%;
  background-color: var(--blue);
  color: black;
  font-weight: bold;
  text-align: center;
  padding: 1em;
  margin: .5em 0;
  min-width: 200px;
}

.btn-viewProj:hover, .btn-viewProj:focus {
  transform: scale(1.1);
}

@media (min-width: 800px) {

  .fccProjects {
    flex-direction: row;
    max-height: 500px;
  }

  .projectImage {
    width: 20em;
    min-height: 15em;
  }

  .projDescriptionBody {
    max-height: 70%;
  }

}

/*///////////////////////////////////
/////////// SIDE PROJECTS ///////////
///////////////////////////////////*/

.sideProjects {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 2em 0;
  background-color: var(--darkgray);
}

.sideProjects-title {
  margin: 1em 0;
}

.sideProject {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  min-width: 15rem;
  min-height: 15rem;
  padding: 0 1em;
  margin: 2em 0;
  color: white;
  font-weight: bold;
  text-align: center;
}

.sideProject:hover, .sideProject:focus {
  cursor: pointer;
  transform: scale(1.01);
}

.sideProject-description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
  min-width: 15rem;
  height: 15rem;
  overflow-y: scroll;
  padding: 0 1em;
  margin: 2em 0;
  background-color: var(--lightgray);
}

.sideProject-description > h2 {
  width: 100%;
  text-align: center;
}

.sideProject-description:hover, .sideProject-description:focus {
  cursor: pointer;
  transform: scale(1.01);
}

#medicareandmore {
  background-image: var(--medicareandmore), linear-gradient(-45deg, black, white);
  background-color: var(--blue);
  background-blend-mode: multiply;
  background-position: center;
}

#rubycalculator {
  background-image: var(--rubycalculator), linear-gradient(-45deg, black, white);
  background-color: var(--blue);
  background-blend-mode: multiply;
  background-position: left;
}

@media (min-width: 800px) {
  .sideProject, .sideProject-description {
    width: 50%;
  }
}


/*---------------------------------------

      ///////////////////////////////
      /////////// CONTACT ///////////
      ///////////////////////////////

---------------------------------------*/


/*//////////////////////////////////
/////////// CONTACT FORM ///////////
//////////////////////////////////*/

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--blue);
  margin: 0;
  padding: 2em 0;
}

.form-container {
  width: 80%;
}

.form-title {
  color: black;
  text-align: center;
  width: 80%;
}

input, textarea {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  box-shadow: inset -4px -4px 4px rgba(0, 0, 0, 0.25), inset 4px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--lightgray);
  margin-bottom: 1em;
  border: none;
  outline: none;
  font-family: 'Quicksand', sans-serif;
}

input:focus, textarea:focus {
  background-color: var(--blue);
}

input::placeholder, textarea::placeholder {
  display: flex;
  padding-left: .25rem;
  font-weight: bold;
}

input {
  height: 2rem;
  font-size: 1rem;
}

.input-message {
  height: 6rem;
  resize: none;
  font-size: 1rem;
}

.btn-submit {
  width: 100%;
  margin: 0;
  color: white;
  background-color: var(--lightgreen);
  box-shadow: inset -4px -4px 4px rgba(0, 0, 0, 0.25), inset 4px 4px 4px rgba(0, 0, 0, 0.25);
  height: 2.5rem;
  font-size: 1.25rem;
  font-weight: bold;
  border: none;
  font-family: 'Quicksand', sans-serif;
}

.btn-submit:hover, .btn-submit:focus {
  transform: scale(1.1);
}

@media (min-width: 850px) {

  .form-title {
    width: 50%;
  }

  .form-container {
    width: 50%;
  }

}


/*//////////////////////////////////
////////////// RESUME //////////////
//////////////////////////////////*/

.resume {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 15vw;
  min-height: 100px;
  background-color: var(--darkgray);
  margin: 0;
}

.resume-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.resume-container > h2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: black;
  width: 50%;
  min-height: 50px;
  font-size: .75rem;
}

.resume-link {
  width: 25%;
  background-color: var(--blue);
  color: black;
  font-weight: bold;
  text-align: center;
  padding: 1em;
  margin: .5em 0;
  min-width: 100px;
  font-size: .75rem;
}

.resume-link:hover, .resume-link:focus {
  transform: scale(1.1);
  cursor: pointer;
}

@media (min-width: 650px) {
  .resume {
    height: 10vw;
  }

  .resume-container > h2 {
    width: 40%;
    font-size: .9rem;
  }

  .resume-link {
    width: 30%;
  }

  .resume-container {
    justify-content: center
  }

}

@media (min-width: 850px) {

  .resume-container {
    justify-content: center;
    width: 50%;
  }

  .resume-container > h2 {
    width: 60%;
  }
}

/*//////////////////////////////////
/////////// SOCIAL MEDIA ///////////
//////////////////////////////////*/

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15vw;
  min-height: 100px;
  background-color: black;
  margin: 0;
}

.social-media > h2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--blue);
  width: 40%;
  min-height: 50px;
  font-size: .75rem;
}

.social-link-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 40%;
  height: 100%;
}

.social-link {
  width: 2rem;
  height: 2rem;
  background-color: white;
  min-width: 50px;
  min-height: 50px;
  margin-left: 2rem;
}

.social-link:hover, .social-link:focus {
  transform: scale(1.1);
  cursor: pointer;
}

#linkedIn {
  background-image: var(--linkedin);
  border-radius: .5rem;
}

#twitter {
  background-image: var(--twitter);
  background-repeat: round;
  border-radius: 2rem;
}

.social-link-div {
  display: none;
}

@media (min-width: 650px) {
  .social-media {
    height: 10vw;
  }
  .social-media > h2 {
    font-size: 1rem;
  }
}

@media (min-width: 850px) {
  .social-media > h2 {
    width: 30%;
    justify-content: center;
  }

  .social-link-container {
    width: 20%;
    justify-content: flex-start;
  }
}